# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# VS temp data directory?
STLexamples/.vs
STLexamples/STLexamples/Debug
STLexamples/STLexamples/x64/Debug
STLexamples/Debug
STLexamples/x64/Debug

other/.vs
other/Cppprimerplus/.vs
other/Cppprimerplus/Debug
other/Cppprimerplus/x64/Debug
other/Debug
other/x64/Debug